<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanxl.studymvc.dao.SuccessKilledDao">

    <insert id="insertSuccessKilled">
        INSERT ignore INTO success_killed(seckill_id, user_phone)
        VALUES (#{seckillId}, #{userPhone});
    </insert>

    <select id="queryByIdWithSeckill" resultType="SuccessKilled" parameterType="long">


    </select>
    
</mapper>